<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Booklist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link type="text/css" rel="stylesheet" href="css/bootstrap.min.css" th:href="@{css/bootstrap.min.css}" />
</head>
<body>
	<h1>Books</h1>
    
    <table class="table table-striped">
		<tr>
		    <th>Author</th>
		    <th>Title</th>
            <th>ISBN</th>
            <th>Year</th>
            <th>Category</th>
            <th>
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Sign Out" class="btn btn-sm btn-danger"/>
                </form>
            </th>
		</tr>  
    	<tr th:each = "kirja : ${books}">
    		<td th:text="${kirja.title}"></td>
            <td th:text="${kirja.author}"></td>
            <td th:text="${kirja.isbn}"></td>
            <td th:text="${kirja.publishedYear}"></td>
            <td th:text="${kirja.category.name}"></td>
            <td class="btn btn-success"><a th:href="@{/edit/{id}(id=${kirja.id})}">Edit</a></td>
            <td class="btn btn-danger"><a th:href="@{/delete/{id}(id=${kirja.id})}">Delete</a></td>
    	</tr>
     </table>
     <a href="/add" class="btn btn-primary">Add Book</a> 	
</body>
</html>