<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Booklist</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>

<body>
    <h1>Edit books</h1>
    <div>
        <form th:object="${kirja}" th:action="@{../save}" action="#" method="post">
            <input type="hidden" id="id" th:field="*{id}" class="form-control" />
            <input type="text" id="title" th:field="*{title}" />
            <input type="text" id="title" th:field="*{author}" />
            <input type="text" id="isbn" th:field="*{isbn}"/> 
            <input type="number" id="publishedYear" th:field="*{publishedYear}" />
            <input type="number" id="price" th:field="*{price}" />
            <input type="submit" value="Save"></input>
        </form>
    </div>
</body>

</html>